<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rei do Bitoque</title>
    <link rel="stylesheet" href="/styles/style..css">
</head>

<body>
    <nav>
        <div id="header">
            <div class="headerlogo">
                <h2>Rei do Bitoque</h2>
                <img src="/images/logo.png" class="logo" alt="logo" />
            </div>
            <div class="headerLinks">
                <div class="headerLinksStyle">
                    <a class="links" href="/home">home</a>
                </div>
                <div class="headerLinksStyle">
                    <a class="links" href="/about">about us</a>
                </div>
                <div class="headerLinksStyle">
                    <a class="links" href="/gallery">gallery</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="Banner Banner2">
        <div class="centerBannerContent">
            <h2>O melhor Bitoque, a melhor cidade!</h2>
            <p>
                O meu nome é Bernardo, e esta é a minha jornada à
                procura do melhor Bitoque na maravilhosa cidade de Lisboa.
            </p>
            <img src="/images/" alt="img1">
        </div>
    </section>
    <section class="Banner Banner2">
        <div class="centerBannerContent">
            <h2>O melhor Bitoque, a melhor cidade!</h2>
            <p>
                O meu nome é Bernardo, e esta é a minha jornada à
                procura do melhor Bitoque na maravilhosa cidade de Lisboa.
            </p>
            <img src="/images/" alt="img2">
        </div>
    </section>
    <section class="Banner Banner2">
        <div class="centerBannerContent">
            <h2>O melhor Bitoque, a melhor cidade!</h2>
            <p>
                O meu nome é Bernardo, e esta é a minha jornada à
                procura do melhor Bitoque na maravilhosa cidade de Lisboa.
            </p>
            <img src="/images/" alt="img2">
        </div>
    </section>
    <footer>
        <div class="footer">
            <div>
                <h3 class="TradeMark">Rei do Bitoque. e toda a propriedade intelectual são marcas registadas ©</h3>
            </div>
            <div class="footerLinks">
                <div>
                    <a class="links footerLink" href="/home">home</a>
                </div>
                <div>
                    <a class="links footerLink" href="/about">about us</a>
                </div>
                <div>
                    <a class="links footerLink" href="/gallery">gallery</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>